* {padding:0; margin:0;border:0; font-family: sans-serif}

/*Nur relevant für Testzwecke*/
p {

	font-size: 8pt;

}


html {
height: 100%;
}

body{
background-color: black;
height: 100%;
}

button{ margin: 10px 10px;}

#endTurnButton {visibility: hidden;}

#interface {

	width: 1200px;
	height: 640px;
	margin-left: -600px;
	margin-top: -320px;
	top: 50%;
	left: 50%;
	position: absolute;
	background-image: url("Bilddaten/Spielfeld/Background_Game_New2.jpg");


}

#field {

	width: 960px;
	height: 640px;
	position: absolute;
	top: 10px;
	left: 20px;

}

#characterSheet {


	width: 220px;
	height: 640px;
	margin-left: 4px;
	position: absolute;
	left: 960px;
	visibility: hidden;
}

#blocker {

	background-image: url("Bilddaten/Blocker.png");
 	position: absolute;
 	z-index: 10;
 	visibility: hidden;

}


































.phaseMarker {

	width: 700px;
	height: 20px;
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -380px;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 30pt;
	padding: 10px;
	visibility: hidden;


	animation-name: MovementStart;
	animation-duration: 3s;

} 

		@keyframes MovementStart
		{
				0%  	{visibility: visible; top:0px;}
				50% 	{visibility: visible; top:200px;}
				70% 	{opacity: 0.7; top:200px;}
				80% 	{opacity: 0.5; top:200px;}
				90% 	{opacity: 0.2; top:200px;}
				100% 	{opacity: 0; top:200px;}
		}

.gameStartMarkerBackground {

	width: 960px;
	height: 640px;
	background-image: url("Bilddaten/Spielfeld/GameStartBackground2.png");
	background-repeat: no-repeat;
	background-position: center;
	z-index: 4;
	position: relative;
	top: -27px;
	left: -20px;
	visibility: hidden;

	animation-name: gameStartBackground;
	animation-duration: 4s;

	} 

		@keyframes gameStartBackground
		{
				0%  	{visibility: visible; opacity: 0;}
				20%  	{visibility: visible; opacity: 1.0;}
				70%  	{visibility: visible; opacity: 1.0;}
				100% 	{visibility: hidden; opacity: 0;}
		}

.gameStartMarker {

	width: 960px;
	height: 640px;
	position: absolute;
	color: white;
	text-align: center;
	line-height: 640px;
	font-weight: bold;
	font-size: 50pt;
	visibility: hidden;


	animation-name: gameStart;
	animation-duration: 3s;

	} 

		@keyframes gameStart
		{
				0%  	{visibility: visible; font-size: 50pt;}
				50%		{visibility: visible; font-size: 100pt;}
				70% 	{opacity: 0.7;}
				80% 	{opacity: 0.5;}
				90% 	{opacity: 0.2;}
				100% 	{opacity: 0;}
		}


.grimReaper {

	width: 500px;
	height: 500px;
	background-image: url("Bilddaten/Spielfeld/GrimReaper.gif");
	background-repeat: no-repeat;
	background-position: center;
	z-index: 8;
	position: absolute;
	top: 70px;
	left: 230px;
/*	visibility: hidden;*/

}

.grimReaperText {

	width: 960px;
	height: 640px;
	position: absolute;
	color: white;
	text-align: center;
	line-height: 640px;
	z-index:9;
	font-weight: bold;
	font-size: 20pt;
	visibility: hidden;


	animation-name: grimReaper;
	animation-duration: 3s;

	} 

		@keyframes grimReaper
		{
				0%  	{visibility: visible; font-size: 25pt;}
				50%		{visibility: visible; font-size: 50pt;}
				70% 	{opacity: 0.7;}
				80% 	{opacity: 0.5;}
				90% 	{opacity: 0.2;}
				100% 	{opacity: 0;}
		}

.roundMarker {

	width: 960px;
	height: 20px;
	position: absolute;
	top: 250px;
	left: 50%;
	margin-left: -480px;
	color: crimson;
	text-align: center;
	font-weight: bold;
	text-shadow: 5px 5px 5px black;
	font-size: 30pt;
	padding: 10px;
	visibility: hidden;


	animation-name: NextRound;
	animation-duration: 1.5s;

} 

		@keyframes NextRound
		{
				0%  	{visibility: visible; font-size: 50pt;}
				50%		{visibility: visible; font-size: 70pt;}
				100% 	{opacity: 0;}
		}


.winFrame1 {

	width: 40px;
	height: 46px;
	position: absolute;
	background-image: url("Bilddaten/Spielfeld/WinFrame1.png");
	visibility: hidden;
	z-index: 10;

}

.winFrame2 {

	width: 40px;
	height: 46px;
	position: absolute;
	background-image: url("Bilddaten/Spielfeld/WinFrame2.png");
	visibility: hidden;
	z-index: 10;

}



























.moveButton {

	width: 80px;
	height: 20px;
	background-image: url("Bilddaten/Spielfeld/Buttons/Move-Button.jpg");
	background-repeat: no-repeat;
	position: absolute;
	top: 600px;
	left: 200px;
	visibility: hidden;

}

.endTurnButton {

	width: 80px;
	height: 20px;
	background-image: url("Bilddaten/Spielfeld/Buttons/End-Turn-Button.jpg");
	background-repeat: no-repeat;
	position: absolute;
	top: 600px;
	left: 400px;
	visibility: hidden;
}






























.monsterChooser {

	width: 324px;
	height: 337px;
	background-image: url("Bilddaten/Spielfeld/MonsterChooser.png");
	background-repeat: no-repeat;
	position: absolute;
	z-index: 2;
	top: -325px;
	left: 50%;
	margin-left: -181px;

}

.monsterChooserHider {

	width: 324px;
	height: 337px;
	background-color: black;
	position: absolute;
	z-index: 3;
	top: -347px;
	left: 50%;
	margin-left: -181px;

}

#monsterChooserTitle {

	font-size: 40pt;
	font-weight: bold; 
	padding-top: 20px; 
	text-align: center;
	color: white;
	text-shadow: 4px 4px 2px black;

}




























#easyButton {

	background-position: 0px 0px;
}


#moderateButton {

	background-position: 0px -50px;
}



#strongButton {

	background-position: 0px -100px;
}


#insaneButton {

	background-position: 0px -150px;
}


/*.buttons_Monster_Difficulty span {
	position: absolute;
	background-image:url(Bilddaten/Spielfeld/Buttons/SS_Buttons_MonsterDifficulty.jpg);
	background-repeat:no-repeat;
	z-index: 3;
}*/

.buttons_Monster_Difficulty {
	width:240px;
	height:50px;
	margin-left: 60px;
	background-image:url(Bilddaten/Spielfeld/Buttons/SS_Buttons_MonsterDifficultySW.jpg);
	background-repeat:no-repeat;
	z-index: 3;
}

